<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple messenger</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="head-block">
    <h2>A simple messenger</h2>
  </header>
  <div class="main-block-profile">
    <div class="profile-info">
      <h3>{{name}} {{surname}}</h3>
      <p>{{username}}</p>
      <ul class="menu-profile">
        <p>Profile</p>
        <li><a href="settings">Setting profile</a></li>
        <li><a href="signout">Exit</a></li>
      </ul>
    </div>
    <div class="friends-block">
      <form class="friends-search" method="POST">
        <input type="text" name="searchName" placeholder="Name friend">
        <button>Search</button>
      </form>
      <div class="friends-list">
        {{#each userList}}
          <li>{{this}}</li>
        {{else}}
          <li>You don't have friends.</li>
        {{/each}}
      </div>
    </div>
  </div>
  <footer class="footer-block">
  </footer>
</body>
</html>
